/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background:#EBEBEB;
  font:normal normal 10px/1.2em helvetica, arial, sans-serif;
  color:#777;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  position:relative;
}
.content {
    padding-top: 5em;
}
.content section {padding-top: 50px;}

/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {color:#2b2b2b;}

h2, h3, h4 {
  font-size: 5em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}
h3 {font-size: 4em;}
h4 {font-size:3em;}
p {
  font-size:1.6em;
  line-height:1.6em;
  margin-bottom: 1.4em;
}
.photo {
    border-radius: 250px 250px 250px 250px;
    box-shadow: 0 19px 4px -12px;
    max-width: 100%;
    position: relative;
    top: -1px;
}

/* =============================================================================
   NAVIGATION
   ========================================================================== */
nav {
    left: 0;
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background: none repeat scroll rgb(41, 28, 21);;
    color: white;
}
.nav-item {
  display: inline-block;
  margin-right:15px;
}
.nav-link {color:#fff;font-size: 1.4em;}
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {color:#fff;}

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  padding: 100px 0 100px;
  text-align:center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  background: white;
  padding: 60px 0 0;
  background:url("../img/bg.jpg");
  background-size:100%;
}
.logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -.04em;
  margin-top: 0;
}
h1.logo-name {
  text-align: center;
}

h1.logo-name span {
  color: #D92727;
}
.logo-link, .tagline, .call-action-area .price {
  color:black;
  text-align: left;
}
.tagline {
    color: #fff;
    float: left;
    font-size: 1.8em;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-left: 2em;
    margin-top: 40px;
    width: 45%;
}
/*call-action-area {
  display: none;
}
.call-action-area .price {color:#fddd52; position:relative; top:145px;}
.call-action-area .call-action-link, .btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color:#2b2b2b;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}*/
.call-action-area .price {
  font-size:4em;
  vertical-align: center;
  margin-right:20px;
}
.call-action-area .call-action-link, .btn {
  position:relative;
  top:130px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size:2em;
  line-height:1em;
  vertical-align: center;
  letter-spacing: -.02em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.call-action-area .call-action-link:hover, .call-action-area .call-action-link:focus, .btn:hover, .btn:focus {top:0;}


.faixa {
    background: none repeat scroll 0 0 #AB3801;
    float: left;
    padding-top: 1em;
    width: 100%;
}

.altinha{
  margin-bottom: 3em;
}


/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {color:#f0a303;}
.content a:hover, .content a:focus {
  color:#fddd52;
  text-decoration: underline;
}

/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  padding:19px;
  margin: 0 -20px 0;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 1 0 270px 0;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);
}
#about {
  padding-top: 0;
}

.titulosobre{
  border-left: 25px solid #FF8D1D;
  line-height: 0.9;
  margin-left: -20px;
  padding-left: 10px;
  padding-top: 5px;
}
/* =============================================================================
   LOCATION
   ========================================================================== */

.locbg{
  margin-top: 5em;
}

.msiw{
  overflow:hidden;
}

.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;

}

.bginfo {
    background: none repeat scroll 0 0 rgba(217, 70, 1, 0.79);
    border-radius: 250px 250px 0 0;
    padding: 4px 10px 10px 30px;
    position: relative;
    text-align: center;
    top: 455px;
    margin: 0 auto;
}

.bginfo h2 {
    color: white;
    font-size: 32px;
    margin: 10px 0 0;
}

.bginfo p {
    color: white;
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
}
/* =============================================================================
   HOTELS
   ========================================================================== */
.hotels {
    background: none repeat scroll 0 0 white;
    border-radius: 0 208px 0 0;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);
    margin: 3em auto 0;
    padding: 2em;
    width: 70%;
}

.hotels-item{
  border-top:1px dashed gray;
  padding-top:1em;
  height: 145px;
}

.hotels-item img{
  margin-right:1em;
  width:130px;  
}

.hotels-item h4{
  margin: 5px 0;
  padding: 0;
}
  
  
/* =============================================================================
   SPEAKER
   ========================================================================== */
.speakers-item {
  position:relative;
  min-height:180px;
  padding-left: 180px;
  margin-bottom:30px;
  border-bottom:1px dashed #e7e7e7;
}
.speaker-photo {
  position:absolute;
  top:0;
  left:0;
  display: block;
  width: 120px;
  height: 120px;
}
.speech-title {
  padding-top:10px;
  font-size:2em;
  margin-bottom:1em;
}
.speech-time {
  font-size:18px;
  padding: 10px 15px;
  letter-spacing:-.03em;
}
.speakers-name{font-size:1.6em;}
.speakers-item p {font-size:1.4em;}



#speakers
.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.07);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.speakers-item:hover .speaker-photo .photo {box-shadow: 0 0 0 8px rgba(0,0,0,.3);}
.speech-time {
  color:#fff;
  background:#2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {padding:20px;}
.schedule-tbl table {
  border-collapse: collapse;
  font-size:1em;
}
.schedule-tbl td, .schedule-tbl th {
  position:relative;
  padding:20px 30px;
  font-size:1.4em;
  line-height:1.4em;
  text-align:left;
}
.schedule-tbl th {
  padding: 5px 30px;
  color:#2b2b2b;
  font-size:2em;
  font-weight: bolder;
}
.schedule-tbl .speaker-photo {
  position:relative;
  width: 40px;
  height: 40px;
  float:left;
  margin-right:20px;
}
.schedule-tbl .schedule-time {text-align:center;}
.schedule-slot {
  width: 250px;
  font-size:16px;
}
.speakers-company {
  display: block;
  font-size:12px;
}

#schedule
.schedule-tbl {
  background:#fff;
  border:1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3);}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background:#fffde1;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}



/* =============================================================================
   SPONSORS  and  PARTNERS
   ========================================================================== */

.comunidades{
  color: white; 
  float: left; 
  width: 100%; 
  border-bottom: 1px dashed orange; 
  padding-bottom: 14px;
}
.sponsor-item, .partner-item {
  display: inline-block;
  margin: 0 30px 30px 0;
}
.sponsor-link, .partner-link {
  display: block;
  width: 150px;
  height:150px;
  text-align:center;
  vertical-align: middle;
  line-height: 150px;
}

/* =============================================================================
   CONTATO
   ========================================================================== */
.form-contato label{
  font-size:16px;
  display: block;
  margin-bottom:.5em;
}
.control-group {
  height:auto;
  clear:both;
  margin-bottom:20px;
}
.control-group-name, .control-group-email {
  clear:none;
  width:467px;
  float:left;
  margin-right:25px;
}
.control-group-email {margin-right:0;}
.form-contato input[type=text], .form-contato input[type=email], .form-contato textarea{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width:100%;
  min-height:15px;
  padding:10px;
  font-size:14px;
}
.form-contato textarea {height:300px;}
.form-contato .btn {float:right;}





/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width : 1024px) {
  .logo{
     /* float: left; */
      width: 50%;
  }
  
  .date{
    width: 12%;
  }
  
  .local{
    width:31%;
    margin-left: 1em;
    padding-left: 40px;
    padding-top: 18px;
    text-align: left;
    margin-top: 10px;
  }
  
  .offer{
    width:33%;
  }
  
}
@media only screen and (min-width:800px) and  (max-width : 1024px) {
  
  .date{
    width: 13%;
  }
  
  .local{
    margin-left: 1em;
    padding-left: 40px;
    padding-top: 18px;
    text-align: left;
    width: 27%;
    margin-top: 10px;
  }
  
  .offer{
    width:33%;
  }
  
  .logo{
     /* float: left; */
      width: 50%;
  }
  
  .wrapper {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .about {margin: 0;}
}

@media only screen and (min-width:320px) and (max-width : 800px) {
  
  .logo{
     /* float: left; */
      width: 80%;
  }
  
  .local {
      margin-top: 6px;
      padding-top: 21px;
      width: 63%;
      padding-left: 38px;
      text-align: left;
  }
  
  .date{
    width:20%;
  }
  
  .offer{
    width:100%;
    margin-bottom:25px;
  }



  /* schedule */
  .schedule-tbl {padding:1px;}
  .schedule-tbl td, .schedule-tbl th {padding:10px;}
  .schedule-tbl th {
    padding: 10px;
    font-size:1.8em;
  }
  .schedule-tbl .speaker-photo {
    width: 40px;
    height: 40px;
    margin-right:5px;
  }
  .schedule-tbl .schedule-slot {
    width: 120px;
  }
  .schedule-tbl td.schedule-slot {
    font-size:14px;
    line-height:1.2em;
  }
  .schedule-tbl .schedule-time {
    width:60px;
    padding:10px 0 10px 5px;
    text-align:left;
  }
  .schedule-tbl td.schedule-description {font-size:12px;}

  /* partners */
  .sponsor-item, .partner-item {margin: 0 5px 10px 0;}
  .sponsor-link, .partner-link {
    width: 95px;
    height:95px;
    line-height: 95px;
  }

  /* contact */
  .control-group-name, .control-group-email {
    clear:both;
    width:100%;
    float:none;
    margin-right:0;
  }
  .form-contato .btn {margin-bottom:50px;}
}

@media only screen and (max-width : 480px) {
  
  .bginfo{
    width:90%;
  }
  
  .logo{
     /* float: left; */
      width: 100%;
  }
  .local {
      margin-left: -5px;
      padding-left: 45px;
      padding-top: 15px;
      text-align: left;
      width: 100%;
  }
  
  .date{
    width:100%;
  }

  .offer{
    width:100%;
    margin-bottom:25px;
  }
  
  /* nav */
  nav {display: none;}
  .header {padding:20px 0;}
  .logo-name {font-size: 4em;}
  .tagline {
    margin-bottom:15px;
    font-size: 1.4em;
  }
  .call-action-area .price {
    font-size:2em;
    margin: 0 0 15px;
    display: block;
  }
  .call-action-area .call-action-link, .btn {top:0;}

  h2, h3, h4 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size:1.8em;}
  p {font-size:1.4em;}

  /* content */
  .content {padding: 0;}
  .content section {padding-top: 50px;}

  /* speakers */
  .speakers-item {
    min-height:70px;
    padding-left: 70px;
  }
  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top:0;
    font-size:16px;
    margin-bottom:.3em;
  }
  .speech-time {
    font-size:16px;
    padding: 0;
  }
  .speakers-bio {display: none;}
}

.cover-mailing-page{
  background: url("../img/mailing-cover-bg.jpg") repeat-x left top;
}

#cover {
  width: 80%;
  margin: 0 auto;
}

.mailing-form {
  background-image: url("../img/mailing-mauro.png");
  background-position: left 40px;
  background-repeat: no-repeat;
  padding-left: 200px;
  padding-top: 100px;
  height: 175px;
}

.mailing-form h2 {
  color:#b80606;
  font-size:29px;
  font-weight: bold;
  margin-top: -40px;
  text-transform:none;
  width:100%;
  line-height:30px;
  margin-bottom:35px;
}

.cover-mailing-page input[type="text"], 
.cover-mailing-page input[type="email"] {
    background: none repeat scroll 0 0 white;
    border: 1px solid #C7C7C7;
    border-radius: 6px 6px 6px 6px;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0.7em;
    width: 50%;
}

.mailing-form p{
  margin-top:15px;
}

.mailing-form p a{
  font-size:11px;
  color:#666;
}

.cover-mailing-page input[type="submit"] {
    background-color: #B80606;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
    margin: 0.2em 0.2em 0.2em 0.3em;
    padding: 8px;
    text-transform: uppercase;
}

.cover-mailing-page div.containner input[type="submit"]:hover{
  opacity:0.9;
}

/*celulares*/
@media only screen and (max-width : 321px) {
  .date{
    width:100%;
  }
  .logo{
    width: 100%;
  }
  .logo-name {
    font-size: 4em;
    margin-bottom:.4em;
  }
  .schedule-tbl .schedule-description {display: none;}
  .schedule-tbl .schedule-slot {width: auto;}

  /* partners */
  .sponsor-item, .partner-item {margin: 0 12px 15px 0;}
  .sponsor-link, .partner-link {
    width: 115px;
    height:115px;
    line-height: 115px;
  }
} 