/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */

html {
  background: #ebebeb;
  font: 9px/1em;
  font-family: 'Ubuntu', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #666;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  position:relative;
}
.content {
    padding-top: 5em;
}

.full{
  width:100%;
  float:left;
}

a:hover img {
  opacity: .8;
}


/* =============================================================================
   BASIC STYLES
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {color:#2b2b2b;}

h3, h4 {
  font-size: 2.1em;
  font-weight: normal;
  margin-bottom:.4em;
  letter-spacing: -.02em;
}

h2 {
  font-size: 2.1em;
  font-weight: 500;
  margin: 1em 5px;
  padding-bottom: 0.2em;
  text-align: center;
}

h2 span {
  color: #FF8D1D;
  font-family: monospace;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {font-size: 1.3em;}
h4 {font-size: 1.4em}

p {
  font-size:1.6em;
  line-height:1.6em;
  margin-bottom: 1.4em;
}

.photo {
  box-shadow: 0 19px 4px -12px;
  max-width: 100%;
  position: relative;
  top: -1px;
}


/* =============================================================================
   NAVIGATION
   ========================================================================== */

nav {
    background: none repeat scroll 0 0 #291C15;
    color: white;
    left: 0;
    padding: 7px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.nav-item {
  display: inline-block;
  margin-right:15px;
}

.nav-link {color:#fff;font-size: 0.8em;}
.nav-link:active,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {color:#fff;}


/* =============================================================================
   HEADER
   ========================================================================== */

.header {
  padding: 100px 0 100px;
  text-align:center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
  background: white;
  padding: 60px 0 0;
  background:url("../img/bg.jpg");
  background-size:100%;
}

.logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -.04em;
  margin-top: 0;
}
h1.logo-name {
  text-align: center;
}

h1.logo-name span {
  color: #D92727;
}
.logo-link, .tagline, .call-action-area .price {
  color:black;
  text-align: left;
}
.tagline {
    color: #fff;
    float: left;
    font-size: 1.8em;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-left: 2em;
    margin-top: 40px;
    width: 45%;
}
/*call-action-area {
  display: none;
}
.call-action-area .price {color:#fddd52; position:relative; top:145px;}
.call-action-area .call-action-link, .btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color:#2b2b2b;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}*/
.call-action-area .price {
  font-size:4em;
  vertical-align: center;
  margin-right:20px;
}
.call-action-area .call-action-link, .btn {
  position:relative;
  top:130px;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size:2em;
  line-height:1em;
  vertical-align: center;
  letter-spacing: -.02em;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.call-action-area .call-action-link:hover, .call-action-area .call-action-link:focus, .btn:hover, .btn:focus {top:0;}


.faixa {
    background: none repeat scroll 0 0 #AB3801;
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

.altinha{
  margin-bottom: 3em;
}
.local {
    background: url("../img/local.png") no-repeat scroll 0 0 transparent;
    color: white;
    float: left;
    font-size: 20px;
    font-weight: 100;
    height: 27px;
    line-height: 0.5;
    margin-left: 1em;
    margin-top: 2px;
    padding-left: 39px;
    padding-top: 13px;
}

/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {color:#f0a303;}
.content a:hover, .content a:focus {
  color:#fddd52;
  text-decoration: underline;
}

.embed #container {
    background: red;
    border: medium none !important;
    box-shadow: none !important;
    width: 100% !important;
}

/* =============================================================================
   ABOUT
   ========================================================================== */

.about {
  padding:19px;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E7E7E7;
  border-radius: 1 0 270px 0;
  box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);
}
#about {
  padding-top: 0;
}

.titulosobre{
  border-left: 25px solid #FF8D1D;
  line-height: 0.9;
  margin-left: -20px;
  padding-left: 10px;
  padding-top: 5px;
}

.fifty{
  float:left;
  width:47%;
}
/* =============================================================================
   LOCATION
   ========================================================================== */

.locbg{
  margin-top: 5em;
}

.msiw{
  overflow:hidden;
}

.location-area {
  background: #e7e7e7;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 300px;

}

.bginfo {
    background: none repeat scroll 0 0 rgba(217, 70, 1, 0.79);
    border-radius: 250px 250px 0 0;
    padding: 4px 10px 10px 30px;
    position: relative;
    text-align: center;
    top: 455px;
    margin: 0 auto;
}

.bginfo h2 {
    color: white;
    font-size: 32px;
    margin: 10px 0 0;
}

.bginfo p {
    color: white;
    font-size: 13px;
    font-weight: lighter;
    margin: 0;
}

.section-box {
    background: none repeat scroll 0 0 white;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.6);
    margin: 3em auto 0;
    padding: 1.2em;
}

.sec-wf {
  background: #fef4e0;
  border-radius: 10px;
  margin-bottom: 40px
}


/* =============================================================================
   HOTELS
   ========================================================================== */

.hotels-item {
  width: 28%;
  border: 1px solid #ebebeb;
  height: 9em;
  margin:  0.5em;
  padding: 0.9em;
  text-align: center;
  float: left;
}

.hotels-item img {
    border-radius: 250px 250px 250px 250px;
    float: left;
    margin-right: 20px;
    width: 35%;
}
.hotels-item h4 {
    font-size: 1em;
    margin: 5px 0;
    padding: 0;
}

.hotels-item a { color: #777; }

.what-to-do {
    background: none repeat scroll 0 0 #FF8D1D;
    border-radius: 15px 15px 15px 15px;
    float: left;
    margin: 0 0 2em;
    padding: 0;
    text-align: center;
    width: 100%;
}

.what-to-do h2 {
    float: left;
    font-size: 1.5em;
    margin-left: 1em;
}

.what-to-do h2 span{
  color:white;
}
.what-to-do a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border: 2px solid #EBEBEB;
    color: white;
    float: left;
    margin-left: 1em;
    margin-top: 0.7em;
    padding: 1em;
    text-align: center;
}

.what-to-do a:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.0);
  }

.transport {
  width: 20%;
  border: 1px solid #ebebeb;
  font-size: 14px;
  height: 465px;
  margin:0 1% 0 1%;
  padding: 3em 1% 0 1%;
  float: left;
}


.transport p {
  margin-bottom:0px;
}

.bus {
    background: url("../img/bus.png") no-repeat scroll center top transparent;
}
.bus ul {
  width:100%;
  float:left;
}
.bus ul li {
    font-size: 0.9em;
    font-weight: 100;
    list-style: none;
    text-align: left;
}

.car {
    background: url("../img/car.png") no-repeat scroll center top transparent;
}

.cab {
    background: url("../img/cab.png") no-repeat scroll center top transparent;
}

.underground {
    background: url("../img/underground.png") no-repeat scroll center top transparent;
}

/* =============================================================================
   SPEAKER
   ========================================================================== */

#speakers h2.section-title {
  margin-bottom: 50px;
}

.speakers-item {
  position:relative;
  min-height:180px;
  padding-left: 180px;
  margin-bottom:30px;
  border-bottom:1px dashed #e7e7e7;
}
.speaker-photo {
  position:absolute;
  top:20px;
  left:20px;
  display: block;
  width: 120px;
  height: 120px;
}
.speech-title {
  padding-top:10px;
  font-size:2em;
  margin-bottom:1em;
}
.speech-time {
  font-size:18px;
  padding: 10px 15px;
  letter-spacing:-.03em;
}
.speakers-name{font-size:1.6em; font-weight: bold;}
.speakers-item p {font-size:0.9em;}



#speakers
.speaker-photo .photo {
  border-radius: 50%;
  box-shadow: 0 0 0 8px rgba(0,0,0,.07);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.speakers-item:hover .speaker-photo .photo {box-shadow: 0 0 0 8px rgba(0,0,0,.3);}
.speech-time {
  color:#fff;
  background:#2b2b2b;
  border-radius: 8px;
}

/* =============================================================================
   SCHEDULE
   ========================================================================== */

.schedule {
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1em;
}
.schedule-tbl {
  font-size: 66.52%;
}
.schedule-tbl table {
  border-collapse: collapse;
  font-size:1em;
}
.schedule-tbl td, .schedule-tbl th {
  position:relative;
  padding:20px 30px;
  font-size:1.4em;
  line-height:1.4em;
  text-align:left;
}
.schedule-tbl th {
  padding: 8px 30px;
  color:#2b2b2b;
  font-size:2em;
  font-weight: bolder;
}
.schedule-tbl .speaker-photo {
  position:relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  float:left;
  margin-right:20px;
}
.schedule-tbl .schedule-time {text-align:center;}
.schedule-slot {
  width: 350px;
  font-size:16px;
}

.schedule-slot strong {
  float: left;
  width: 80%;
}

.speakers-company {
  display: block;
  font-size:12px;
}

#schedule
.schedule-tbl {
  background:#fff;
  border:0px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.15);
}
.schedule-tbl table {background:#fff;}
.schedule-tbl td, .schedule-tbl th {border-bottom:1px solid #e7e7e7;}
.schedule-tbl tbody tr:nth-child(2n+1) {background:#f6f6f6;}
.schedule-tbl th {color:#2b2b2b;}
.schedule-tbl .speaker-photo .photo {box-shadow: 0 0 0 1px rgba(0,0,0,.3); border-radius: 50%;}
.speakers-company {color:#999;}
.schedule-slot {color:#2b2b2b;}
.schedule-tbl tbody tr:hover {background:#fffde1;}
.schedule-coffee, .schedule-closing, .schedule-lunch, .schedule-other {color:#214f87;}



/* =============================================================================
   SPONSORS  and  PARTNERS
   ========================================================================== */

.comunidades{
  color: white;
  float: left;
  width: 100%;
  border-bottom: 1px dashed orange;
  padding-bottom: 14px;
}
.sponsor-item, .partner-item {
  display: inline-block;
  margin: 0 30px 30px 0;
}
.sponsor-link, .partner-link {
  display: block;
  width: 150px;
  height:150px;
  text-align:center;
  vertical-align: middle;
  line-height: 150px;
}

.sponsors-list li {

  float:left;
  margin-bottom:40px;
  margin-left:37px;
}
.sponsors-listcenter{

  text-align:center;
}


/* =============================================================================
   CONTATO
   ========================================================================== */
.form-contato label{
  font-size:16px;
  display: block;
  margin-bottom:.5em;
}
.control-group {
  height:auto;
  clear:both;
  margin-bottom:20px;
}
.control-group-name, .control-group-email {
  clear:none;
  width:467px;
  float:left;
  margin-right:25px;
}
.control-group-email {margin-right:0;}
.form-contato input[type=text], .form-contato input[type=email], .form-contato textarea{
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width:100%;
  min-height:15px;
  padding:10px;
  font-size:14px;
}
.form-contato textarea {height:300px;}
.form-contato .btn {float:right;}

.form-foot {
  color: #000;
}

.wufoo .info h2 {
  font-size: 20px;
  color: #000 !important;
  margin: 0 0 20px;
}

.wufoo li label.desc {
  color: #000 !important;
}


/* ====================
Mailing
==================== */

#cover-mailing {
  background: #f3f3f3 url("/images/mailing-cover-bg.jpg") bottom center repeat-x;
  padding: 50px 0 30px 0;
  text-align: center;
}

#cover-mailing .sup {
  font-weight: 300;
  text-transform: uppercase;
  margin: 5px 0 20px 0;
  font-size: 24px;
}

#cover-mailing input[type="text"],
#cover-mailing input[type="email"] {
  border-radius: 4px;
  width: 300px;
  height: 44px;
  line-height: 44px;
  font: normal 17px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #a63500;
  padding: 0 15px 0 15px;
  background: #fff;
  display: inline-block;
  margin: 0 0 25px 0;
  outline: none;
  float: none;
}

#cover-mailing input[type="submit"] {
  box-shadow: 0 2px 4px #e3e3e3;
  border-radius: 4px;
  width: 100px;
  height: 46px;
  line-height: 44px;
  font: normal 17px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0 15px 0 15px;
  background: #a63500;
  display: inline-block;
  margin: 0 0 0 5px;
  cursor: pointer;
  color: #fff;
  float: none;
}

#cover-mailing input[type="submit"]:hover { opacity: .8; }

#cover-mailing li {
  font-size: 14px;
  margin: 0 20px 0 0;
  display: inline;
}

#cover-mailing a { color: #8c8c8c; }



/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width : 1024px) {
  .logo { width: 50%; }
  .offer { width:33%; }
}

@media only screen and (min-width:800px) and  (max-width : 1024px) {
  .local { margin-left: 1em; padding-left: 40px; padding-top: 18px; text-align: left; margin-top: 3px; }
  .offer { width:33%; }
  .logo { width: 50%; }
  .wrapper { width: 100%; padding: 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
  .about { margin: 0;}
}

@media only screen and (min-width:480px) and (max-width : 800px) {
  .logo { width: 80%; }
  .local { float: right; padding-left: 38px; text-align: left; line-height: 5px; margin-top: 5px; }
  .offer { width:100%; margin-bottom: 15px; margin-top: 20px; }
  .content { padding-top: 2em; }
  .locbg { margin-top: 2em !important; }
  .what-to-do h2 { float: none; margin-bottom: 0; }
  .what-to-do a { margin-bottom: 20px; }
  .bus ul li { font-size: 0.7em; }
  .sponsor-item img { width: 75px; }
  .sponsor-item .email { margin-top: 5px; }
  /* schedule */
  .schedule-tbl {padding:1px; }
  .schedule-tbl td, .schedule-tbl th {padding:10px; }
  .schedule-tbl th { padding: 10px; font-size:1.8em; }
  .schedule-tbl .speaker-photo { width: 40px; height: 40px; margin-right:5px; }
  .schedule-tbl .schedule-slot { width: 120px; }
  .schedule-tbl td.schedule-slot { font-size:14px; line-height:1.2em; }
  .schedule-tbl .schedule-time { width:60px; padding:10px 0 10px 5px; text-align:left; }
  .schedule-tbl td.schedule-description {font-size:12px;}
  .speech-title { margin-bottom: 0; }
  .speakers-name { margin-top: 10px; }

  /* partners */
  .sponsor-item, .partner-item {margin: 0 5px 10px 0;}
  .sponsor-link, .partner-link { width: 95px; height:95px; line-height: 95px; }

  /* contact */
  .control-group-name, .control-group-email { clear:both; width:100%; float:none; margin-right:0; }
  .form-contato .btn {margin-bottom:50px;}
}

@media (max-width: 801px) {
  .hotels-item {
    width: 41% !important;
    margin:  0 1% 1% 1% !important;
    padding: 3% !important;
  }
  .transport {
    width: 93% !important;
    border: 1px solid #ebebeb;
    font-size: 16px !important;
    height: auto !important;
    margin:0 0 1% 0 !important;
    padding: 3em 3% 3% 3%;
  }
}

@media only screen and (max-width: 686px) {

  .hotels-item {
    width: 93% !important;
    height: auto !important;
    margin:  0 0 15px 0 !important;
  }

  .mailing-form {
    background-image: none;
    width: 96%;
    margin: 0;
    padding: 0 2% 0 2%;
  }

  #cover-mailing .sup {
    font-size: 15px;
  }

  #cover-mailing input[type="text"],
  #cover-mailing input[type="email"] {
    width: 170px;
  }

}


@media only screen and (max-width: 480px) {

  .big-logo {
    width:270px;
  }

  h2 {
    font-size: 1.2em !important;
  }

  .local { float: right; padding-left: 38px; text-align: left; line-height: 5px; margin-top: 5px; font-size: 12px; }
  .date { font-size: 12px !important; }
  .offer { width:100%; margin-bottom: 15px; margin-top: 20px; font-size: 14px !important; }

  li.speakers-item {
    padding: 0;
  }

  span.speaker-photo {
    display: block;
    float: none;
    margin-bottom: 15px;
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
    top: auto;
  }

  span.speaker-photo img {
    width: 100px;
    margin: 0 auto;
    display: block;
  }

  .bginfo{
    display: none;
  }

  .logo{
     /* float: left; */
      width: 100%;
  }

  .offer{
    width:100%;
    margin-bottom:25px;
  }

  /* nav */
  nav {display: none;}
  .header {padding:20px 0;}
  .logo-name {font-size: 4em;}
  .tagline {
    margin-bottom:15px;
    font-size: 1.4em;
  }
  .call-action-area .price {
    font-size:2em;
    margin: 0 0 15px;
    display: block;
  }
  .call-action-area .call-action-link, .btn {top:0;}

  h2, h3, h4 {font-size: 3em;}
  h3 {font-size: 2em;}
  h4 {font-size:1.8em;}
  p {font-size:1.4em;}

  /* content */
  .content {padding: 0;}
  .content section {padding-top: 50px;}

  /* speakers */
  .speakers-item {
    min-height:70px;
    padding-left: 70px;
    text-align: center;
  }

  .speakers-name { font-size: 1em; margin-top: 5px; margin-bottom: 20px; }

  .speaker-photo {
    width: 50px;
    height: 50px;
  }
  .speech-title {
    padding-top:0;
    font-size:16px;
    margin-bottom:.3em;
  }
  .speech-time {
    font-size:16px;
    padding: 0;
  }
  .speakers-bio {display: none;}

  .fifty { width: 100%; float: none; }
  .fifty.important-notice-home {
    padding: 0;
    background: none;
    border: none;
    float: none;
    margin: 0 0 20px;
  }

  .fifty.important-notice-home h2 {
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .fifty.important-notice-home ul {
    margin: 0;
  }

  .full h4 {
    font-size: 14px;
  }

  .what-to-do a {
    width: 50%;
    margin: 0 auto 15px;
    text-align: center;
    display: block;
    clear: both;
    float: none;
  }

  li .tapume {
    float: left;
    width: 25% !important;
  }

  li .email {
    color: #999999;
    float: left;
    font-size: 12px;
    line-height: 1.8em;
    margin: 0 0 0 2%;
    text-transform: uppercase;
    width: 73%;
  }

  li .email strong {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    display: block;
    font-size: 10px;
    margin-left: -2%;
    padding: 5px 1%;
    text-align: center;
    text-transform: none;
  }

  div.imageslogo {
    float: none;
    margin-left: 0;
    padding: 0;
  }

  div.imageslogo a {
    display: block;
    text-align: center;
  }

  div.imageslogo img {
    text-align: center;
  }

  table {
    width: 100%;
  }

  .schedule-description {
    display: none;
  }
}
