<!-- HEADER -->
<header class="header">
  <div class="wrapper altinha">
    <a class="logo-link" href="#" title="{{ site.conf.name }}">
       <img src="./img/hdc_logo.png" alt="cobregratis" class="logo"> 
    </a>
 	  <h2 class="tagline">O HDC'13 é um evento organizado pela HE:labs. Para saber das novidades inscreva-se na nossa mailing.</h2>
    <div class="call-action-area">

<!--       <span class="price">Only $100</span>
      <a href="http://eventick.com.br" class="call-action-link" title="Register now!">Register now!</a> -->
    </div>
  </div>

  <div class="faixa">
    <div class="wrapper">
      <div class="date">de outubro</div>
      <div class="local">Bolsa de Valores - <strong>RJ</strong></div>
      <a class="offer" href="compre seu ingresso aqui">Compre seu ingresso aqui</a>
      </div>
     	
    </div>
  </div>
</header>

<!--  / HEADER -->

<hr />



