<!-- HEADER -->
<header class="header">
  <div class="wrapper">
    <h1 class="logo-name"><a class="logo-link" href="#" title="{{ site.conf.name }}">Hack & Design Conference<span>'13</span></a></h1>
 	<h2 class="tagline">O HDC'13 é um evento organizado pela HE:labs. Para saber das novidades inscreva-se na nossa mailing.</h2>
    <div class="call-action-area">

<!--       <span class="price">Only {{ site.conf.price }}</span>
      <a href="http://eventick.com.br" class="call-action-link" title="Register now!">Register now!</a> -->
    </div>

   	<a class="offer" href="compre seu ingresso aqui">Compre seu ingresso aqui</a>

    <div class="date">
    	<h4>19 de outubro, na Bolsa de Valores Rj</h4>
    </div>

  </div>
</header>
<!--  / HEADER -->

<hr />