<nav id="nav">
  <div class="wrapper">
    <ul>    
        <li class="nav-item">
          <a href="#content" class="nav-link" rel="nofollow">Sobre o HDC'13</a>
        </li>
        <li class="nav-item">
          <a href="#speaker-anchor" class="nav-link" rel="nofollow">Palestrantes</a>
        </li>
        <li class="nav-item">
          <a href="#schedule-anchor" class="nav-link" rel="nofollow">Programação</a>
        </li>
        <li class="nav-item">
          <a href="#location-anchor" class="nav-link" rel="nofollow">Onde Será</a>
        </li>
        <li class="nav-item">
          <a href="#hotels-anchor" class="nav-link" rel="nofollow">Onde ficar</a>
        </li>
        <li class="nav-item">
          <a href="#sponsors-anchor" class="nav-link" rel="nofollow">Patrocinadores</a>
        </li>
        <li class="nav-item">
          <a href="#wufoo-anchor" class="nav-link" rel="nofollow">Contato</a>
        </li>
        <li class="nav-item">
          <a href="#footer-anchor" class="nav-link" rel="nofollow">Comunidades</a>
        </li>
        
        
        

    </ul>

    <div class="right">
      <a class="fb" href="https://www.facebook.com/events/148013105387371/" target="_blank" rel="nofollow">Facebook</a>
    </div>
  </div>    
</nav>