<nav id="nav">
  <ul class="wrapper">
    
      <li class="nav-item">
        <a href="#content" class="nav-link">Sobre o HDC'13</a>
      </li>

      <li class="nav-item">
        <a href="#location" class="nav-link">Onde será?</a>
      </li>
      
      <li class="nav-item">
        <a href="condicoes.html" class="nav-link">Condições</a>
      </li>
  
  </ul>    
</nav>

<!-- OLD NAVIGATION 
<nav id="nav">
  <ul class="wrapper">
    {% if site.sections.about %}
      <li class="nav-item">
        <a href="#content" class="nav-link">Sobre o HDC'13</a>
      </li>
    {% endif %}
    {% if site.sections.location %}
      <li class="nav-item">
        <a href="#location" class="nav-link">Onde será?</a>
      </li>
    {% endif %}
     {% if site.sections.speakers %} 
      <li class="nav-item">
        <a href="#speakers" class="nav-link">Speakers</a>
      </li>
    {% endif %}
    {% if site.sections.schedule %}
      <li class="nav-item">
        <a href="#schedule" class="nav-link">Schedule</a>
      </li>
    {% endif %}
    {% if site.sections.sponsors %}
      <li class="nav-item">
        <a href="#sponsors" class="nav-link">Patrocinadores</a>
      </li>
    {% endif %}
    {% if site.sections.partners %}
      <li class="nav-item">
        <a href="#partners" class="nav-link">Apoiadores</a>
      </li>
    {% endif %}
    {% if site.sections.contact %}
      <li class="nav-item">
        <a href="#contact" class="nav-link">Contact</a>
      </li>
    {% endif %}
    {% if site.sections.condition %}
      <li class="nav-item">
        <a href="condicoes.html" class="nav-link">Condições</a>
      </li>
    {% endif %}

  </ul>
</nav>

<hr /> -->