<nav id="nav">
  <div class="wrapper">
    <ul>    
        <li class="nav-item">
          <a href="#content" class="nav-link" rel="nofollow">Sobre o HDC'13</a>
        </li>
        <li class="nav-item">
          <a href="#location" class="nav-link" rel="nofollow">Onde será</a>
        </li>
        <li class="nav-item">
          <a href="#hotels" class="nav-link" rel="nofollow">Onde Ficar</a>
        </li>
        <li class="nav-item">
          <a href="#arrive" class="nav-link" rel="nofollow">Como Chegar</a>
        </li>
        <li class="nav-item">
          <a href="#hotels" class="nav-link" rel="nofollow">Patrocinadores</a>
        </li>
        <li class="nav-item">
          <a href="#hotels" class="nav-link" rel="nofollow">Palestrantes</a>
        </li>

    </ul>

    <div class="right">
      <a class="fb" href="https://www.facebook.com/events/148013105387371/" target="_blank" rel="nofollow">Facebook</a>
    </div>
  </div>    
</nav>