{% if site.sections.about %}

  <!-- ABOUT -->
<div class="thumbnails">
	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Rodrigo Gomes</h4>
				<p>Palestra sobre Design e Patterns</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src= "img/teste.png" alt="Food">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>


	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	

	<div style="clear:both;"></div>



	
	</div>
	<div class="description">

		<div class="photos">
			<img src="http://lorempixel.com/output/people-q-c-200-200-8.jpg"/>
			RODRIGO GOMES DE SOUZA
		</div>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

	</div>

  <!-- / ABOUT -->

{% endif %}