{% if site.sections.about %}

  <!-- ABOUT -->
<div class="thumbnails">
	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Rodrigo Gomes</h4>
				<p>Palestra sobre Design e Patterns</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src= "img/teste.png" alt="Food">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>


	<div class="image-box">
		<div class="image-container">
			<img width="200" height="150" src="img/teste.png" alt="photo">
		</div>
		<div class="image-details">
			<div class="details">
				<h4>Lorem Ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy...</p>
				<p><a class="more" href="#">More</a></p>
			</div>
		</div>
	</div>

	

	<div style="clear:both;"></div>

</div>
  <!-- / ABOUT -->

{% endif %}