{% if site.sections.about %}
  <section class="about" id="about">
    <h2 class="section-title titulosobre">Sobre o Evento</h2>
    <p itemprop="description">
      O Hack &amp; Design Conference, aka HDC'13, une as comunidades de hacking e codificação com a comunidade de design. São comunidades que nem sempre costumam se falar, mas acreditamos que a união desses grupos se faz necessária para criação dos produtos do futuro! Produtos que levem mais felicidade às pessoas, mais simplicidade e mais facilidade para suas vidas... sobretudo, produtos que funcionem perfeitamente bem.
    </p>
    <p>
      Após o evento, teremos um <a href="http://horaextra.org/">#horaextra</a> especial, evento clássico da comunidade de hacking do Rio de Janeiro. Dessa forma a comunidade do #horaextra abre suas portas para a comunidade de design, criando um ambiente diverso e colaborativo entre as pessoas. Esse #horaextra especial vai rolar logo após o evento no <a href="http://goo.gl/maps/LI0PO">Boteco Belmonte, Av. Portugal, nº 1952, Urca.</a></p>
    <p><strong>As vagas são limitadas! Garanta já a sua!</strong></p>
    <div class="important-notice-home">
            <h2><em class="icon-calendar"> </em> Datas importantes</h2>
              <ul>
                  <li>O primeiro lote, no valor de R$ 130,00, acaba no dia 31 de julho, ou se acabarem os 40 ingressos do lote.</li>

                  <li>O segundo lote, no valor de R$ 150,00, acaba no dia 31 de agosto, ou se acabarem os 40 ingressos do lote. </li>

                  <li>O terceiro lote, no valor de R$ 170,00, acaba no dia 30 de setembro ou se acabarem os 40 ingressos do lote.</li>

                  <li>O último lote, no valor de R$ 200,00, acaba dia 04 de outubro ou se o evento atingir a lotação máxima.</li>
              </ul>
 </div>
    <p>
      Data: 05/10/2013</br>
      Horário: 9h às 18h</br>
      Local: UNIRIO - Prédio CCET - Av. Pasteur, nº 458, sala 203 - Urca</br>
      Valor: a partir de R$130,00/pessoa no primeiro lote.</br>

      <div class ="eventickframe">
        <iframe src="http://www.eventick.com.br/hdc/embedded" frameborder="0" height="212px" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </p>
  </section> 

{% endif %}