{% if site.sections.conditions %}

  <!-- conditions -->
<section class="conditions" id="conditions">
    <h2 class="" title="">Condições</h2>
		<p itemprop="description"> 			
			Todos os participantes que estiverem credenciados no dia do evento terão 
			direito à um certificado de participação. 
			<p>Todos os participantes terão direito à um kit de brindes, entre eles 
			intens exclusivos da HE:labs, incluindo: bloco, caneta e adesivo da HE:labs.</p> 
			<p>Será servido café da manhã e coffee-break no dia do evento, na hora do 
			credenciamento e no intervalo na parte da tarde entre as palestras. O 
			almoço é de responsabilidade do participante. </p>
			<p>O valor pago pelo evento não é reembolsado em nenhuma hipótese. Não 
			haverá reembolso ou crédito para inscrições pagas não utilizadas, ou 
			desistência da participação no evento. Para tratar todos com 
			igualdade, nenhuma exceção será concedida. .</p>

		
</section>
	

  <!-- / ABOUT -->

{% endif %}
