{% if site.sections.hotels %}

  <!-- HOTELS -->
  <section class="hotels" id="hotels">

    <h2 class="section-title titulosobre">Onde ficar?</h2>

    <ul class="hotels-list">
      
      <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Hotel Guanabara</h4>
        <p> 
          Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ              
        </p>
        <p>
          <span><a href="http://www.windsorhoteis.com.br/pt-br/loca.asp?hid=20"></a></span>
        </p>
      </br>
        
    
      
  
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Hotel São Francisco</h4>
        <p> 
          Rua Visconde de Inhaúma, 95. Centro, Rio de Janeiro - RJ             
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
    
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Rio's Presidente Hotel</h4>
        <p> 
          Rua Pedro I, 19. Centro, Rio de Janeiro - RJ            
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
    
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4> Hotel Ibis Centro</h4>
        <p> 
          Rua Silva Jardim, 32, Torre I. Centro, Rio de Janeiro - RJ         
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4> Hotel ibis Santos Dumont</h4>
        <p> 
          Av. Marechal Câmara, 280. Centro,<br>Rio de Janeiro - RJ             
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
      
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Hotel Castelo</h4>
        <p> 
         Rua do Lavradio, 62. Centro, Rio de Janeiro - RJ             
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
    
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Hotel Granada</h4>
        <p> 
          Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ              
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
    
      
    
    <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4> Hotel Formule 1</h4>
        <p> 
          Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ              
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
    
      
    </ul>
  </li>

  </section>

  <!-- / HOTELS -->

{% endif %}