{% if site.sections.hotels %}
<div class="wrapper">
  <!-- HOTELS -->
  <section class="section-box" id="hotels">

    <h2 class="section-title titulosobre">Onde ficar?</h2>

    <ul class="hotels-list">
      
      <li class="hotels-item">
        <a href="http://www.windsorhoteis.com.br/pt-br/loca.asp?hid=20" target="_blank" rel="nofollow">
          <img alt="Hotel Guanabara" src="img/1.jpg" class="photo">
          <h4>Hotel Guanabara</h4>
          <p>Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ</p>
        </a>      
      </li>
      <li class="hotels-item">
        <a href="http://www.hotelsaofrancisco.com.br/" target="_blank" rel="nofollow">
          <img alt="Hotel São Francisco" src="img/2.png" class="photo">
          <h4>Hotel São Francisco</h4>
          <p>Rua Visconde de Inhaúma, 95. Centro, Rio de Janeiro - RJ</p>
        </a>     
      </li>
      <li class="hotels-item">
        <a href="http://www.riospresidentehotel.com.br/" target="_blank" rel="nofollow">
          <img alt="Rio's Presidente Hotel" src="img/3.png" class="photo">
          <h4>Rio's Presidente Hotel</h4>
          <p>Rua Pedro I, 19. Centro, Rio de Janeiro - RJ</p>
        </a>
      </li>

      <li class="hotels-item">
        <a href="http://www.ibishotel.com/gb/hotel-5534-ibis-rio-de-janeiro-centro/index.shtml" target="_blank" rel="nofollow">
          <img alt="Hotel Ibis Centro" src="img/4.png" class="photo">
          <h4> Hotel Ibis Centro</h4>
          <p>Rua Silva Jardim, 32, Torre I. Centro, Rio de Janeiro - RJ</p>
        </a>
      </li>

      <li class="hotels-item">
        <a href="http://www.ibishotel.com/gb/hotel-5691-ibis-rio-de-janeiro-santos-dumont/index.shtml" target="_blank" rel="nofollow">
          <img alt="Hotel Ibis Santos Dummont" src="img/5.png" class="photo">
          <h4> Hotel Ibis Santos Dummont</h4>
          <p>Av. Marechal Câmara, 280. Centro,<br>Rio de Janeiro - RJ </p>
        </a>
      </li>     

      <li class="hotels-item">
        <a href="http://www.apontador.com.br/local/rj/rio_de_janeiro/hoteis_e_pousadas/E8TAHS67/hotel_castelo.html" target="_blank" rel="nofollow">
          <img alt="Hotel Castelo" src="img/6.png" class="photo">
          <h4>Hotel Castelo</h4>
          <p>Rua do Lavradio, 62. Centro, Rio de Janeiro - RJ</p>
        </a> 
      </li>      

      <li class="hotels-item">
        <a href="http://www.hotelgranada.com.br/" target="_blank" rel="nofollow">
          <img alt="Hotel Granada" src="img/7.png" class="photo">
          <h4>Hotel Granada</h4>
          <p>Avenida Gomes Freire, 530. Centro, Rio de Janeiro - RJ</p>
        </a> 
      </li>      

      <li class="hotels-item">
        <a href="http://www.formule1.com.br/formule1/ficha_promocao.aspx?h=200" target="_blank" rel="nofollow">
          <img alt="Hotel Formule 1" src="img/8.png" class="photo">
          <h4> Hotel Formule 1</h4>
          <p>Rua Silva Jardim, 32. Centro, Rio de Janeiro - RJ</p>
        </a>
      </li>
      
    </ul>
    

  
    <!-- O QUE FAZER-->
  <h2 class="titulosobre">O que fazer no Rio?</h2>
  <a target="_blank" href="http://vejario.abril.com.br/">Guia Veja Rio</a>
  <a target="_blank"  href="http://www.tripadvisor.com.br/Attractions-g303506-Activities-Rio_de_Janeiro_State_of_Rio_de_Janeiro.html">Trip Advisor</a>
  <a target="_blank"  href="http://listaamiga.com/">Lista Amiga </a>

    <!--/ O QUE FAZER-->

  <!-- <section class="arrive section-box" id="arrive"> -->

    <h2 class="section-title titulosobre">Como Chegar?</h2>
    <h4>De Automóvel</h4>
    <p>Você segue em direção a Zona Sul onde está o Bairro da Urca que é vizinho aos bairros de Copacabana e Botafogo e siga as placas indicativas<br>do Pão de Açúcar.</p>

    <h4>De Táxi</h4>
    <p>Você pode chegar pegando um taxi e dando como referência o Pão de Açúcar pois, a Av. Pasteur onde está a Escola, é a via de acesso à Estação do famoso bondinho do Pão de Açúcar.</p>

    <h4>De Metrô</h4>
    <p>Você pode chegar pegando o metrô até Estação Botafogo e, logo após, um ônibus das linhas 107 ou 512 na Praia de Botafogo, saltando no 2º ponto da Av. Pasteur, que deixa na porta do campus Urca;</p>

    <h4>De Ônibus</h4>
    <p>Pegar qualquer ônibus até o shopping Rio Sul e, quando saltar, seguir até a Av. Pasteur (para pedir informações sobre a direção, pergunte sobre qualquer dos pontos de referência enumerados abaixo); ou pegar qualquer dos seguintes ônibus, saltando no 2º ponto da Av. Pasteur:
    <ul>
      <li>107 (Central – Urca)</li>
      <li>511 (Urca – Leblon, circular, vai por Copacabana e volta pelo Jardim Botânico)</li>
      <li> 512 (Urca – Leblon, circular, vai pelo Jardim Botânico e volta por Copacabana)</li>
    </ul>

    <h4>Pontos de referência proximos ao prédio da UNIRIO</h4>
    <p>(partindo do início da Av. Pasteur em Botafogo e seguindo em direção a Praia Vermelha)</p>


        <p><br>1. UFRJ;
        <br>2. UNIRIO (Reitoria e cursos de Nutrição e Enfermagem);
        <br>3. Instituto Benjamin Constant (educandário especializado na instrução e auxílio de cegos);
        <br>4. CPRM (Centro de Pesquisas em Recursos Minerais);
        <br>5. Escola de Ciências Jurídicas;
        <br>6. Marinha do Brasil;
        <br>7. Estação do Bondinho do Pão de Açúcar;
        <br>8. Praia Vermelha.</p>

  </section>

  


  <!-- / HOTELS -->

{% endif %}