{% if site.sections.hotels %}

  <!-- HOTELS -->
  <section class="hotels" id="hotels">

    <h2 class="section-title titulosobre">Onde ficar?</h2>

    <ul class="hotels-list">
      
      <li class="hotels-item">
        <img alt="Hotel Guanabara" src="img/guanabara.jpg" class="photo">
        <h4>Hotel Guanabara</h4>
        <p> 
          Avenida Presidente Vargas, 392. Centro, Rio de Janeiro - RJ              
        </p>
        <p>
          <span>Diária: R$000,00</span>
        </p>
      </br>
        
      </li>
      
    </ul>

  </section>

  <!-- / HOTELS -->

{% endif %}