{% if site.sections.location %} 
</div>
<div class="locbg">
  <div class="wrapper">
  <!-- LOCATION --LOCAL>
   <div id="location-anchor" style="height:17px"></div>
  <section class="location" id="location">
    <div class="bginfo">
    <h2 class="section-title">Onde será?</h2>

    {% if site.conf.address != '' %}
      <p>O evento vai  acontecer no prédio da UNIRIO, situada na Av. Pasteur 458 - Prédio CCET - Sala 203.</p>
    </div>
    </div>
    
    <iframe style="overflow:hidden; border-bottom: 5px solid #F16521; border-top: 5px solid #F16521" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0""0" src="https://maps.google.com.br/maps?q=Av.+Pasteur+458+&amp;hl=pt-BR&amp;sll=-22.066441,-42.924029&amp;sspn=2.967727,4.916382&amp;hnear=Av.+Pasteur,+458+-+Urca,+Rio+de+Janeiro,+22290-240&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=-22.954027,-43.168437&amp;spn=0.010235,0.019054&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=Av.+Pasteur+458+&amp;hl=pt-BR&amp;sll=-22.066441,-42.924029&amp;sspn=2.967727,4.916382&amp;hnear=Av.+Pasteur,+458+-+Urca,+Rio+de+Janeiro,+22290-240&amp;t=m&amp;ie=UTF8&amp;hq=&amp;ll=-22.954027,-43.168437&amp;spn=0.010235,0.019054&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>

      
    {% endif %}

  </section>
</div>
  <!-- / LOCATION -->

{% endif %}