{% if site.sections.location %}
</div>

<div class="locbg">
  <div class="wrapper">
  <!-- LOCATION -->
  <section class="location" id="location">
    <div class="bginfo">
    <h2 class="section-title">Onde será?</h2>

    {% if site.conf.address != '' %}
      <p>O evento está previsto para acontecer no prédio da Bolsa de Valores Número 19      .</p>
    </div>
    </div>
    
    <iframe style="overflow:hidden; border-bottom: 5px solid #F16521; border-top: 5px solid #F16521" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Pra%C3%A7a+Quinze+de+Novembro,+20+-+Centro&amp;aq=&amp;sll=-22.880604,-43.15567&amp;sspn=0.089041,0.150719&amp;ie=UTF8&amp;hq=&amp;hnear=Pra%C3%A7a+Quinze+de+Novembro,+20+-+Centro,+Rio+de+Janeiro,+20010-010,+Rep%C3%BAblica+Federativa+do+Brasil&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>

    <!--iframe style="overflow:hidden; border-bottom: 5px solid #F16521; border-top: 5px solid #F16521" width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps/ms?msa=0&amp;msid=210336802047897660893.0004de834abf830afb33c&amp;gl=br&amp;ie=UTF8&amp;ll=-22.902482,-43.174212&amp;spn=0,0&amp;t=m&amp;iwloc=addr&addr&amp;output=embed"></iframe-->
      
    {% endif %}

  </section>
</div>
  <!-- / LOCATION -->

{% endif %}