{% if site.sections.politica %}

  <!-- ABOUT -->
<section class="about" id="about">
    <h2 class="section-title">Sobre o Evento</h2>
		<p itemprop="description">
			O Hack & Design Conf  surgiu da necessidade de um evento de porte no Rio de Janeiro. A comunidade carioca de desenvolvimento de software é uma das mais importantes do país e merece esse evento..</p>

		<p>A primeira edição do Hack & Design Conf, acontecerá em  outubro de 2013,  na Bolsa de Valores , situada no Centro do Rio de Janeiro e contará com aproximadamente 600 participantes  de todo o Brasil.

		Teremos palestras de alto nível com os melhores hackers e designers de todo o Brasil, além de hackathon de design e uma maratona de testes de invasão. O evento terminará com um #horaextra para promover o networking entre os desenvolvedores.</p>


</section>
	

  <!-- / ABOUT -->

{% endif %}
