{% if site.sections.speakers %}
<div id="speaker-anchor" style="height:70px"></div>
  <!-- SPEAKERS -->
  <section class="speakers section-box" id="speakers">

    <h2 class="section-title"><span><</span> Palestrantes <span>></span></h2>

    <ul class="speakers-list">

    {% for speaker in site.schedule %}
      {% if speaker.presentation %}
        <li class="speakers-item">
          <span class="speaker-photo"><img class="photo" src="./img/palestrantes/{{ speaker.photo }}" alt="{{ speaker.name }}" /></span>

           <h3 class="speech-title">
            {% if speaker.presentation.time %}
              <span class="speech-time">{{ speaker.presentation.time }}</span>
            {% endif %}
          </h3>

          <h3 class="speakers-name">{{ speaker.name }}</h3>
          <p class="speakers-bio">{{ speaker.bio }}</p>

          <p>
            &#8226;
            {% if speaker.links.site %}
              <a href="{{ speaker.links.site }}" target="_blank">Site</a> &#8226; 
            {% endif %}
            {% if speaker.links.blog %}
              <a href="{{ speaker.links.blog }}" target="_blank">Blog</a> &#8226; 
            {% endif %}
            {% if speaker.links.facebook %}
              <a href="{{ speaker.links.facebook }}" target="_blank">Facebook</a> &#8226; 
            {% endif %}
            {% if speaker.links.linkedin %}
              <a href="{{ speaker.links.linkedin }}" target="_blank">LinkedIn</a> &#8226; 
            {% endif %}
            {% if speaker.links.twitter %}
              <a href="{{ speaker.links.twitter }}" target="_blank">Twitter</a> &#8226; 
              {% endif %}
            {% if speaker.links.slideshare %}
              <a href="{{ speaker.links.slideshare }}" target="_blank">SlideShare</a> &#8226; 
            {% endif %}
            {% if speaker.links.github %}
              <a href="{{ speaker.links.github }}" target="_blank">Github</a> &#8226; 
              {% endif %}
            {% if speaker.links.palestra %}
              <a href="{{ speaker.links.palestra }}" target="_blank">Palestra</a> &#8226; 
            {% endif %}
            {% if speaker.links.behance %}
              <a href="{{ speaker.links.behance }}" target="_blank">Behance</a> &#8226; 
            {% endif %}
            <br />
            
            {% if speaker.links2.site %}
              &#8226;
              <a href="{{ speaker.links2.site }}" target="_blank">Site</a> &#8226; 
            {% endif %}
            {% if speaker.links2.blog %}
              <a href="{{ speaker.links2.blog }}" target="_blank">Blog</a> &#8226; 
            {% endif %}
            {% if speaker.links2.facebook %}
              <a href="{{ speaker.links2.facebook }}" target="_blank">Facebook</a> &#8226; 
            {% endif %}
            {% if speaker.links2.linkedin %}
              <a href="{{ speaker.links2.linkedin }}" target="_blank">LinkedIn</a> &#8226; 
            {% endif %}
            {% if speaker.links2.twitter %}
              <a href="{{ speaker.links2.twitter }}" target="_blank">Twitter</a> &#8226; 
            {% endif %}
            {% if speaker.links2.slideshare %}
              <a href="{{ speaker.links2.slideshare }}" target="_blank">SlideShare</a> &#8226; 
            {% endif %}
            {% if speaker.links2.github %}
              <a href="{{ speaker.links2.github }}" target="_blank">Github</a> &#8226;
              {% endif %}
            {% if speaker.links2.palestra %}
              <a href="{{ speaker.links2.palestra }}" target="_blank">Palestra</a> &#8226; 
            {% endif %}
            <section class="shedule">
            {% if speaker.links2.behance %}
              <a href="{{ speaker.links2.behance }}" target="_blank">Behance</a> &#8226; 
            {% endif %}
            
          
          <div class="title">
            <span class="speech-title">{{ speaker.presentation.title }}
          </div>



          <div class="description">
            <span class="speech-presentation">{{ speaker.presentation.description }}
          </div>

          <div class="lecture">
            <span class = "speech-lecture">{{speaker.presentation.lecture}}
          </div>
        </li>


      {% endif %}
    {% endfor %}
    

      
    </ul>


  </section>
  <!-- / SPEAKERS -->

{% endif %}
