  <!-- SPONSORS -->
   <div id="sponsors-anchor" style="height:70px"></div>
  

  <div id="sponsors-anchor" style="height:70px"></div>
  <section class="sponsors section-box" id="sponsors">
    <h2 class="section-title"><span><</span> Patrocinadores <span>></span></h2>
    <ul class="sponsors-list">

      <hr><h6>GOLD</h6></hr>



      <!-- 
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link sponsor-call" href="http://helabs.com.br"><img src="img/helabs.png" alt="your logo" /></a>
      </li>
      -->

      
    </ul>
    <a href=" http://www.helabs.com.br/"><img src="../img/helabspatrocinio.png"></a>
    <hr><h6>SILVER</h6></hr>

      <hr><h6>BRONZE</h6></hr>

      <hr><h6>COMMUNITY</h6></hr>
      <a href="http://sendgrid.com/"><img src="../img/sendgrid.png"></a>

  </section>

   <div id="sponsors-anchor"></div>
  

  <div id="sponsors-anchor"></div>
  <section class="sponsors section-box" id="sponsors">
    <h2 class="section-title"><span><</span> Apoiadores <span>></span></h2>
    <ul class="sponsors-list">

      <!-- 
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link sponsor-call" href="http://helabs.com.br"><img src="img/helabs.png" alt="your logo" /></a>
      </li>
      -->

      <li><a href=" http://www.treinaweb.com.br/"><img src="../img/treinaweb.png"></a></li>
      <li><a href=" http://www.agileinrio.com.br/"><img src="../img/rioagile.png"></a></li>
      <li><a href=" http://www.abstartups.com.br/"><img src="../img/absstartup.png"></a></li>
      <li><a href=" http://www.thoughtworks.com//"><img src="../img/thoughtworks.png"></a></li>
      <li><a href=" http://www.grokpodcast.com//"><img src="../img/grokpodcast.png"></a></li>


      
    </ul>
    
    
   
   
  </section>



  <!-- / SPONSORS -->