<div id="sponsors-anchor" style="height:70px"></div>
<div id="sponsors-anchor" style="height:70px"></div>

<section class="sponsors section-box" id="sponsors">
  
  <h2 class="section-title">
    <span><</span> Patrocinadores <span>></span>
  </h2>

  <hr><h6>COMMUNITY</h6></hr>
  <a href="http://sendgrid.com/"><img src="../img/sendgrid.png"></a>

</section>

<div id="sponsors-anchor"></div>
<div id="sponsors-anchor"></div>

<section class="sponsors section-box" id="sponsors">
  <h2 class="section-title"><span><</span> Apoiadores <span>></span></h2>
  <ul class="sponsors-list">
    <li><a href="http://www.treinaweb.com.br/"><img src="../img/treinaweb.png"></a></li>
    <li><a href="http://www.agileinrio.com.br/"><img src="../img/rioagile.png"></a></li>
    <li><a href="http://www.abstartups.com.br/"><img src="../img/absstartup.png"></a></li>
    <li><a href="http://www.thoughtworks.com/pt"><img src="../img/thoughtworks.png"></a></li>
    <li><a href="http://www.grokpodcast.com/"><img src="../img/grokpodcast.png"></a></li>
  </ul>
</section>

<div id="sponsors-anchor"></div>
<section class="sponsors section-box" id="sponsors">
  <h2 class="section-title">
    <span><</span> Organizador <span>></span>
  </h2>    
  <ul class="sponsors-listcenter">
    <li><a href=" http://www.helabs.com.br/"><img src="../img/helabspatrocinio.png"></a></li>
  </ul>
 
</section>