{% if site.sections.sponsors %}

  <!-- SPONSORS -->
  <section class="sponsors" id="sponsors">
    <h2 class="section-title">Patrocínio</h2>
    <ul class="sponsors-list">

    {% for sponsor in site.sponsors %}
      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link sponsor-call" href="http://helabs.com.br"><img src="img/helabs.png" alt="your logo" class="photo" /></a>
      </li>
    {% endfor %}

      <li class="sponsor-item">
        <a class="sponsor-logo sponsor-link sponsor-call" href="#"><img src="img/helabs.png" alt="your logo" class="photo" /></a>
      </li>
      <div class="textsuport">
        SEJA UM PATROCINADOR
      </di>

    </ul>
  </section>
  <!-- / SPONSORS -->

{% endif %}