<!doctype html>
<html>
<head>
  <title>{{ site.conf.name }}</title>
  <meta charset="utf-8">
  <meta name="author" content="{{ site.conf.name }}">
  <meta name="description" content="{{ site.conf.description }}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="372862979453673">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.site.url }}">
  <meta property="og:title" content="{{ site.conf.name }}">
  <meta property="og:description" content="{{ site.conf.description }}">
  <meta property="og:image" content="{{ site.site.images.facebook }}">
  <!-- / FACEBOOK -->

  <link rel="shortcut icon" href="{{ site.site.favicon }}" type="image/x-icon" />

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <!-- / STYLES -->
</head>
<body>
  <div class="global">

    {% include header.html %}

    <!-- CONTENT -->
    <section class="content" id="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>
    <!-- / CONTENT -->
    <div class="containner cover-mailing-page">
      <div id="cover">
        <div class="mailing-form">
          <h2>Fique por dentro das novidades do evento!</h2>
          <form style="width:100%" action="http://clientela.us2.list-manage.com/subscribe/post?u=78c4c9df5db794cd68f358456&amp;id=020e7504d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
            <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Insira seu email e faça parte da comunidade" required="">
            <input type="submit" value="Fazer Parte" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>

          <p>
            <a href="/privacidade" target="_blank" title="Política de Privacidade">Política de Privacidade</a> / 
            <a href="http://helabs.us2.list-manage.com/unsubscribe?u=78c4c9df5db794cd68f358456&amp;id=020e7504d2" target="_blank" title="Retirar o e-mail da lista">Retirar o e-mail da lista</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <H1 class="comunidades">COMUNIDADES</h1>
    <div class="imageslogo">
      <a href="http://horaextra.org">
        <img src="img/logo_horaextra_off.png" alt="Logo Horaextra Off"></a>
    </div>
    <div class="imageslogo">
      <a href="http://smallactsmanifesto.org/">
      <img src="img/logo-smallacts.png" alt="Logo Smallacts"></a>
    </div>
    <div class="imageslogo">
      <a href="http://dojorio.wordpress.com/">
      <img src="img/logo_dojorio_off.png"  alt="Logo Dojorio Off"></a>
    </div>
    <div class="imageslogo">
      <a href="http://www.riojug.org/blog/">
    <img src="img/logo_riojug_off.png"  alt="Logo Riojug Off"></a>
    </div>
    <div class="imageslogo">
      <a href="http://www.rubyinside.com.br/">
    <img src="img/logo_rubyinside_off.png" alt="Logo Rubyinside Off"></a>
    </div>
    <div class="imageslogo">
      <a href="http://rubyonrio.org/">
     <img src="img/logo-ruby-on-rio.png" alt="Logo Ruby On Rio"></a>
    </div>
    <div class="imageslogo">
      <a href="http://pythonrio.org/">
    <img src="img/logo_pythonrio_off.png" alt="Logo Pythonrio Off"></a>
    </div>
    <div class="imageslogo">
      <a href="http://forkinrio.appspot.com/">
      <img src="img/logo-forkinrio.png"  alt="Logo Forkinrio"></a>
    </div>
    <div class="imageslogo">
     <a href="http://pythoncampus.org">
      <img src="img/logo-pythoncampus.png"  alt="Logo Pythoncampus"></a>
    </div>
    
    <div class="imageslogo">
     <a href="http://www.arduinrio.cc/">
      <img src="img/logo-arduinoinrio.png"  alt="Logo Arduinoinrio"></a>
    </div>    
    <div class="imageslogo">
     <a href="http://selfrj.org//">
      <img src="img/logo-selfrj.png"  alt="self Rj;"></a>
    </div>

  </footer>
  
     
    <!-- / FOOTER -->
  
   
  
   
  </div>

  <script src="js/jquery.js"></script>

  {% if site.conf.address != '' %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="js/map.js"></script>
  {% endif %}

  <!-- GOOGLE ANALYTICS -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.site.googleanalytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <!-- /GOOGLE ANALYTICS -->

</body>
</html>