<!doctype html>
<html>
<head>

  <title>{{ site.conf.name }}</title>

  <meta charset="utf-8">
  <meta name="author" content="{{ site.conf.name }}">
  <meta name="description" content="{{ site.conf.description }}">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <!-- FACEBOOK -->
  <meta property="fb:app_id" content="372862979453673">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.site.url }}">
  <meta property="og:title" content="{{ site.conf.name }}">
  <meta property="og:description" content="{{ site.conf.description }}">
  <meta property="og:image" content="{{ site.site.images.facebook }}">
  <!-- / FACEBOOK -->

  <link rel="shortcut icon" href="{{ site.site.favicon }}" type="image/x-icon" />

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
  <link rel="stylesheet" type="text/css" href="css/theme.css">
  <!-- / STYLES -->

</head>
<body>

  <div class="global">

    
    
    {% include header.html %}



    <!-- CONTENT -->
    <section class="content" id="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </section>
    <!-- / CONTENT -->
    <div class="containner">
      <div class="wrapper">
      <div class="mailing-form">
      <h2>Novidades relevantes e ofertas exclusivas do mundo do software!</h2>
      <form style="width:100%" action="http://clientela.us2.list-manage.com/subscribe/post?u=78c4c9df5db794cd68f358456&amp;id=020e7504d2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">

        <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Insira seu email e faça parte da comunidade" required="">

        <input type="submit" value="Fazer Parte" name="subscribe" id="mc-embedded-subscribe" class="button">

      </form>
      <a href="http://antispam.br" target="_blank"><img src="/images/antispam.jpg" title="Selo AntiSpam"></a>
      <p>
        <a href="/privacidade" target="_blank" title="Política de Privacidade">Política de Privacidade</a> / 
        <a href="http://helabs.us2.list-manage.com/unsubscribe?u=78c4c9df5db794cd68f358456&amp;id=020e7504d2" target="_blank" title="Retirar o e-mail da lista">Retirar o e-mail da lista</a>
      </p>
    </div>
  </div>
</div>

    <footer class="footer">
      <H1 class="comunidades">COMUNIDADES</h1>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
          <img src="img/logo_horaextra_off.png" alt="Logo Horaextra Off">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
        <img src="img/logo-smallacts.png" alt="Logo Smallacts">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
    <img src="img/logo_dojorio_off.png"  alt="Logo Dojorio Off">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
      <img src="img/logo_riojug_off.png"  alt="Logo Riojug Off">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
      <img src="img/logo_rubyinside_off.png" alt="Logo Rubyinside Off">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
       <img src="img/logo-ruby-on-rio.png" alt="Logo Ruby On Rio">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
      <img src="img/logo_pythonrio_off.png" alt="Logo Pythonrio Off">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
        <img src="img/logo-forkinrio.png"  alt="Logo Forkinrio">
      </div>
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
        <img src="img/logo-pythoncampus.png"  alt="Logo Pythoncampus">
      </div>
      
      <div class="imageslogo">
        <a href="http://google.com.br/"></a>
        <img src="img/logo-arduinoinrio.png"  alt="Logo Arduinoinrio">
      </div>    
        <div class="imageslogo">
        <a href="http://google.com.br/"></a>
        <img src="img/logo-selfrj.png"  alt="self Rj;">
      </div>          
    </footer>
    <!-- / FOOTER -->
  
   
  
   
  </div>

  <script src="js/jquery.js"></script>

  {% if site.conf.address != '' %}
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="js/map.js"></script>
  {% endif %}

  <!-- GOOGLE ANALYTICS -->
  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.site.googleanalytics }}']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>
  <!-- /GOOGLE ANALYTICS -->

</body>
</html>